
:root {
    --main: #f05454;
    --second: #e8e8e8;
    --third:  #30475e;
    --fourth: #222831;
  }
body
{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.upper{
    background-position: bottom;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)), 
    url("./sky1.jpg");
    background-size:cover;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.Home{
    height: 80vh;
}
.Home .container {
    height: 100%;}
.Home .container .row{
    height: 100%;
    align-content: center
}
.Home .container .inform{
   line-height: 35px;
   height: 50%;
}
.Home .container .inform h1{
    font-size: 9em;
    font-family: 'Sansita Swashed', cursive;
    color: #e8e8e8;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2),
    0 0 15px rgba(0, 0, 0, 0.2),
    0 0 25px rgba(0, 0, 0, 0.2),
    ;
}
.Home .container .inform h1 span{
    font-family: 'Sriracha', cursive;
    color: var(--main);
}
.Home .container .inform p{
    text-transform: capitalize;
    font-size: 1.5em;
    opacity: 0.8;
    color:var(--second);

}
.Home .container  .socialOverlay{
    margin: 0 auto;
    width: 100%;
}
.Home .container  .socialOverlay .list-media{
    width: 50%;
    margin: auto;
    text-align: center;
}
.Home .container .socialOverlay  .Homesocial{
    height: 5%;
    margin: 0 10px;  
    display: inline;
    font-size: 30px;
    text-align: center;
    }
.Home .container .socialOverlay  .Homesocial .social-icons {
        font-size: 25px;
        margin-top: 10px;
        color: var(--second);
    }

.list-inline-item:not(:last-child) {
    margin-right: 0rem; 
 }