
/* extra small xs screens */
@media (max-width: 576px) { 
    .list-inline-item:not(:last-child) {
        margin-right: 0rem !important;
    }
    .project{
        height: 360px;
        padding: 2rem 1rem ;
        position: relative;
        -webkit-box-shadow: 0px 7px 10px rgba(0,0,0,.5) ;
                box-shadow: 0px 7px 10px rgba(0,0,0,.5) ;
        -webkit-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        margin-bottom: calc(var(--bs-gutter-x));
     }

}